$color_1: #fff;
$color_2: #f2f2f2;
$color_3: #111;
$color_4: cyan;
$color_5: #f34213;
$color_6: #868c96;
$color_7: #8b9199;
$color_8: #353c47;
$color_9: #62c8ff;
$font-family_1: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$background-color_1: white;

@import "https://fonts.googleapis.com/css?family=Oswald";
@import "https://fonts.googleapis.com/css?family=Quattrocento";
@import "https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap";

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}
body {
	margin: 0px;
	font-family: $font-family_1;
}
nav {
	position: fixed;
	z-index: 2;
	display: flex;
	height: 100px;
	width: 100%;
	background: #1b1b1b;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
	.logo {
		color: $color_1;
		font-size: 35px;
		font-weight: 600;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		li {
			margin: 0 5px;
			a {
				color: $color_2;
				text-decoration: none;
				font-size: 18px;
				font-weight: 500;
				padding: 8px 15px;
				border-radius: 5px;
				letter-spacing: 1px;
				transition: all 0.3s ease;
				&:hover {
					color: $color_3;
					background: #fff;
				}
			}
			a.active {
				color: $color_3;
				background: #fff;
			}
		}
	}
	.menu-btn {
		i {
			color: $color_1;
			font-size: 22px;
			cursor: pointer;
			display: none;
		}
	}
}
input[type="checkbox"] {
	display: none;
}
#click {
    &:checked {
        ~ {
            .menu-btn {
                i {
                    &:before {
                        content: "\f00d";
                    }
                }
            }
            ul {
                left: 0;
                li {
                    a {
                        margin-left: 0px;
                    }
                }
            }
        }
    }
}
main {
	background-color: $background-color_1;
	background-image: url(img/fixbcg.jpg);
	text-align: center;
}
.swiper-container {
	top: 18vh;
	width: 100%;
	height: 100%;
	margin-bottom: 20vh;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/aa.jpg);
	min-width: 100px;
	min-height: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	img {
		display: block;
		max-height: 300px;
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		padding: 2vh;
	}
}
.card_container {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100vw;
}
.card_border {
	background: #fff;
	border-radius: 20px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 5%;
	max-width: 1000px;
	min-height: 200px;
	padding: 2em;
	position: relative;
}
.foto_profile {
	border: 5px solid rgba(255, 255, 255, 0.5);
	max-width: 900px;
	width: 50%;
	min-width: 125px;
	height: auto;
	border-radius: 20px;
	position: relative;
}
.profile_foto {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
.profile_content {
	align-content: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.biodata_profile {
	margin: 0.5em;
	width: 100%;
  text-align:justify;
}
.profile_name {
	font-weight: bold;
	color: $color_5;
	text-decoration: none;
}
.maps-card {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	width: 45%;
	max-width: 45%;
	min-width: 300px;
	margin: 2%;
	border-radius: 20px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2), 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.maps-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
	padding: 0 10px 40px 10px;
}
.maps-iframe-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 56%;
	margin: auto;
}
.maps-iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.maps-card-description {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
	text-align: center;
	p {
		margin: auto;
		line-height: 1.5;
	}
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.contact-area {
	border-bottom: 1px solid #353C46;
	padding: 60px 0;
	background: #1A1E25;
	color: $color_6;
    
}
.contact-content {
	p {
		font-size: 15px;
		margin: 30px 0 60px;
		position: relative;
		&::after {
			background: #6fabff;
			bottom: -30px;
			content: "";
			height: 1px;
			left: 50%;
			position: absolute;
			transform: translate(-50%);
			width: 80%;
		}
	}
	h6 {
		color: $color_7;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 10px;
	}
	span {
		color: $color_8;
		margin: 0 10px;
	}
	img {
		max-width: 210px;
	}
}
.contact-social {
	margin-top: 30px;
	>ul {
		display: inline-flex;
	}
	ul {
		li {
			a {
				border: 1px solid #8b9199;
				color: $color_7;
				display: inline-block;
				height: 40px;
				margin: 0 10px;
				padding-top: 7px;
				transition: all 0.4s ease 0s;
				width: 40px;
				&:hover {
					border: 1px solid #62c8ff;
					color: $color_9;
				}
			}
		}
	}
}
footer {
	background: #1A1E25;
	overflow: hidden;
	p {
		padding: 40px 0;
		text-align: center;
		color: $color_6;
	}
	img {
		width: 44px;
	}
}
@media (max-width: 1000px) {
	nav {
		padding: 0 40px 0 50px;
	}
}
@media (max-width: 920px) {
	nav {
		.menu-btn {
			i {
				display: block;
			}
		}
		ul {
			position: fixed;
			top: 80px;
			left: -100%;
			background: #111;
			height: 100vh;
			z-index: 9;
			width: 100%;
			text-align: center;
			display: block;
			transition: all 0.3s ease;
			li {
				width: 100%;
				margin: 40px 0;
				a {
					width: 100%;
					margin-left: -100%;
					display: block;
					font-size: 20px;
					transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
					&:hover {
						background: none;
						color: $color_4;
					}
				}
				a.active {
					background: none;
					color: $color_4;
				}
			}
		}
	}
	
}

