@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
   
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav{
  position: fixed;
  z-index: 2;
    display: flex;
    height: 100px;
    width: 100%;
    background: #1b1b1b;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      z-index: 9;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  } 

main {
    background-color: white;
    text-align: center;
}
.wrapperhome {
	width: 1170px auto;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://i.postimg.cc/YjcJg24M/aa.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:1000px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		/* width: 50%; */
		text-align: center;
		margin: auto;
	}
		
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}

h2 {
    padding: 20px;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    z-index: 1;
    width:95%;
    
    padding: 1px;
}
 .wrapper {
        min-height: 100vh;
        box-sizing: border-box;
        padding-top: 5%;
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5;
        max-width: 1400px;
        margin: 0 auto;
    }
    .box {
        display: flex;
        flex-wrap: wrap;
    }
    .box label {
        background: #5F9DF7;
        font-weight: 700;
        text-align: center;
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
        order: 1;
        display: block;
        padding: 16px 127px;
        margin-right: 4px;
        cursor: pointer;
    }
    .box .content {
        display: none;
        padding: 30px;
        background: #fff;
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.5);
        order: 99;
        flex-grow: 1;
        width: 100%;
    }
    .box .content p{
      font-size: 20px;
      margin: 0;
      text-align: center;
      margin-left: 500px auto ;
    }
    /* .box img{
        max-width: 100%; 
    } */
    .box input[type="radio"] {
        display: none;
    }
    .box input[type="radio"]:checked+label {
        background: #fff;
    }
    .box input[type="radio"]:checked+label+.content {
        display: block;
    }
    @media (max-width: 600px) {
        .box .content, .box label {
            order: initial;
        }
        .box label {
            width: 100%;
            margin-right: 0;
            margin-top: 4px;
        }
    }

 .card-container {
    display: flex;
    flex-wrap: wrap;
  list-style: none;
    align-items: stretch; 
 }
.card {
    font-family: 'Quattrocento', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 20px auto;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    align-items: center;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 16px;
  }
  .card * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
  }
  .card img {
    max-width: 100%;
    vertical-align: top;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
  }
  .card figcaption {
    width: 100%;
    background-color: #ffffff;
    padding: 15px 25px 65px;
    position: relative;
  }
  .card figcaption:before {
    position: absolute;
    content: '';
    /* z-index: 2; */
    bottom: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
  }
